<a href="https://colab.research.google.com/github/kozyreviva/Data_Science/blob/main/ML_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ВВЕДЕНИЕ В МАШИННОЕ ОБУЧЕНИЕ**

Оператор мобильной связи «Мегалайн» хочет построить систему, способную проанализировать поведение клиентов и предложить пользователям новые тарифы: «Смарт» или «Ультра».

В нашем распоряжении данные о поведении клиентов, которые уже перешли на эти тарифы. Нужно построить модель для задачи классификации, которая выберет подходящий тариф.

Необходимо постройте модель с максимально большим значением accuracy. Нужно довести долю правильных ответов по крайней мере до 0.75.



**План работы**
 * Открыть файл с данными и изучить его. Путь к файлу: datasets/users_behavior.csv. Скачать датасет.
 * Разделить исходные данные на обучающую, валидационную и тестовую выборки.
 * Исследовать качество разных моделей, меняя гиперпараметры. Кратко написать выводы исследования.
 * Проверить качество модели на тестовой выборке.
 * Дополнительное задание: проверить модель на вменяемость.

Подключение библиотек.

In [6]:
#подключение библиотек
import pandas as pd

In [7]:
#датафрейм сохраняем в переменную
try:
  df = pd.read_csv("/datasets/users_behavior.csv")
except:
  df = pd.read_csv("users_behavior.csv")

Просмотр датафрейма.

In [8]:
#вывод первых 5 строк датафрейма
df.head()

   calls  minutes  messages   mb_used  is_ultra
0   40.0   311.90      83.0  19915.42         0
1   85.0   516.75      56.0  22696.96         0
2   77.0   467.66      86.0  21060.45         0
3  106.0   745.53      81.0   8437.39         1
4   66.0   418.74       1.0  14502.75         0